:root {
  --maincolor: #6195ff;
}
/* contact section */
.contact .section-header .section-title {
  margin-top: 100px;
}
.contact .container {
  position: relative;
  height: 200px;
}
.contact-item {
  width: 30%;
  float: left;
  text-align: center;
  padding-bottom: 60px;
}
.contact-item.mg {
  margin: 0 5%;
}
.contact-item i {
  font-size: 40px;
  color: var(--maincolor);
}
.contact-title {
  font-weight: bold;
  margin: 10px 0;
  text-transform: capitalize;
  font-size: 24px;
}
.contact-text {
  text-transform: capitalize;
  color: #999;
}

/* form */
.form-container {
  width: 60%;
  margin: auto;
}
.contact-form {
  text-align: center;
  margin-top: 20px;
}
.contact-form .name,
.contact-form .email,
.contact-form .subject,
.contact-form .message {
  width: 40%;
  height: 40px;
  font-size: 17px;
  padding: 5px;
  border: 2px solid #e8e8e8;
  outline: none;
  margin: 10px 10px;
}
.contact-form .name:focus,
.contact-form .email:focus,
.contact-form .subject:focus,
.contact-form .message:focus {
  border: 3px solid var(--maincolor);
}
.contact-form .subject {
  width: 90%;
}
.contact-form .message {
  width: 90%;
  height: 80px;
  font-size: 20px;
}
.contact-form .contact-btn {
  margin-top: 10px;
  outline: none;
  cursor: pointer;
  border: 1px solid var(--maincolor);
  border-radius: 4px;
  background: var(--maincolor);
  padding: 10px;
  color: #fff;
  font-size: 19px;
  width: 25%;
  height: 60px;
  text-transform: capitalize;
  opacity: 0.7;
  transition: opacity 0.6s;
}
.contact-btn:hover {
  opacity: 1;
}
